@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/src/assets/cubes.png");
}

#root {
  height: 100vh;
}
